<header class="site-header">
    <h1 class="site-title"><a href="/">Shubham Saxena</a></h1>
        <nav class="site-nav">
            <a href="/" class="active">about</a>
        <a href="/blog/" class="">blog</a>
    </nav>
</header>
