<header class="site-header">
    <h1 class="site-title"><a href="/">Shubham Saxena</a></h1>
    <nav class="site-nav">
        <%= link_to 'about', '/', :class => is_page_selected("/")%>
        <%= link_to 'blog', '/blog.html', :class => is_page_selected("/blog/")%>
        <%= link_to 'readings', '/readings.html', :class => is_page_selected("/readings/")%>
        <%= link_to 'activities', '/activities.html', :class => is_page_selected("/activities/")%>
    </nav>
</header>
